.header {
  display: grid;

  margin: 0 auto var(--spacer-md);
  padding: var(--spacer-md);

  max-width: 1340px;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-gap: var(--spacer-md);

  align-items: center;

  @include sm {
    grid-template-columns: repeat(10, 1fr);
  }

  @include md {
    padding: var(--spacer-lg);
    grid-template-columns: repeat(12, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(14, 1fr);

    /* Stretch header to 75% of the viewport's height */
    &.header--stretch {
      min-height: 75vh;
    }
  }

  @include xl {
    margin: 0 auto var(--spacer-xl);
    padding: var(--spacer-md) var(--spacer-lg);

    grid-template-columns: repeat(16, 1fr);
    grid-gap: var(--spacer-lg);
  }
}

.logo {
  grid-column: 1/3;

  @include sm {
    grid-column: 1/4;
  }

  @include xl {
    grid-column: 1/4;
  }
}

.logo__link {
  position: relative;

  display: block;

  /* NOTE: Sets aspect ratio to 5:3.
   * As to how and why, see: https://css-tricks.com/aspect-ratio-boxes/
   *
   * TODO: This can be changed once `aspect-ratio` lands.
   * For more, see: https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio
   */
  width: 100%;
  height: 0;

  padding-bottom: 60%;

  & svg,
  & canvas {
    position: absolute;

    display: block;

    width: 100%;
    height: 100%;
  }

  & svg {
    transform: translate(-0.5px, -0.5px);
  }
}

.logo__grid {
  fill: var(--logo-grid);
}

.logo__monogram {
  fill: var(--logo-monogram);
}

.nav {
  grid-column: 3 / 5;

  @include sm {
    grid-column: 4 / 11;
  }

  @include md {
    grid-column: 4 / 13;
  }

  @include lg {
    grid-column: 4 / 15;
  }

  @include xl {
    grid-column: 5 / -1;
  }
}

/* TODO: Once Flexbox `gap` lands, we can remove `margin` and `:last-child`.
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/gap#browser_compatibility
 */
.nav__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  text-align: right;

  @include sm {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.nav__item {
  display: inline;
  margin: 0 0 var(--spacer-md) 0;

  &:last-child {
    margin: 0;
  }

  @include sm {
    margin: 0 0 0 var(--spacer-md);

    &:last-child {
      margin: 0 0 0 var(--spacer-md);
    }
  }
}

.nav__link {
  font-weight: 700;

  text-decoration: none;
}

.nav__link--active {
  color: var(--text-secondary);
}

.intro {
  grid-column: 1 / -1;

  @include md {
    grid-column: 1 / 10;
  }

  @include lg {
    grid-column: 1 / span 7;
  }

  @include xl {
    grid-column: 1 / span 7;
    margin-bottom: var(--spacer-lg);
  }
}

.intro__greeting {
  display: block;

  @include md {
    font: {
      size: 1.375em;
    }
  }

  @include xl {
    font: {
      size: 1.5em;
    }
  }
}

.intro__title {
  font: {
    size: var(--font-size-xxxxl);
  }

  @include sm {
    font: {
      size: var(--font-size-xxxxxl);
    }
  }
}
