.player {
  position: relative;

  width: 100%;
}

.player:hover .player__control[data-state="play"] {
  opacity: 1;
}

.player__video {
  display: block;

  width: inherit;
}

.player__control {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: var(--spacer-xl);
  height: var(--spacer-xl);

  margin: auto;

  background: var(--play-icon-secondary-color);

  backdrop-filter: blur(var(--spacer-lg));

  transition: 1s opacity var(--ease-out-circ);
}

.player__control[data-state="play"] {
  opacity: 0;
}

.player__progress {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: var(--spacer-xs);
}

.player__progress-play {
  width: inherit;
  height: inherit;

  transform: scaleX(0);
  transform-origin: left;

  background: var(--play-icon-primary-color);
}

.player__control-play {
  display: block;

  width: 100%;

  cursor: pointer;
}

.player__control-play .play {
  fill: none;

  stroke: var(--play-icon-primary-color);
  stroke-width: 4;

  stroke-dasharray: 72.373;
}

.player__control[data-state="play"] .play {
  animation: hidePlay 0.5s var(--ease-out-circ) both;
}
.player__control[data-state="pause"] .play {
  animation: showPlay 0.5s var(--ease-out-circ) 0.5s both;
}
.player__control[data-state="play"] .pause--r {
  animation: showPauseRight 0.5s var(--ease-out-circ) 0.5s both;
}
.player__control[data-state="play"] .pause--l {
  animation: showPauseLeft 0.5s var(--ease-out-circ) 0.5s both;
}
.player__control[data-state="pause"] .pause--r {
  animation: hidePauseRight 0.5s var(--ease-out-circ) both;
}
.player__control[data-state="pause"] .pause--l {
  animation: hidePauseLeft 0.5s var(--ease-out-circ) both;
}

.player__control-play .pause--r {
  stroke: var(--play-icon-primary-color);
  stroke-width: 5;

  stroke-dasharray: 28;
  stroke-dashoffset: -28;
}

@keyframes showPauseRight {
  from {
    stroke-dashoffset: -28;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes hidePauseRight {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -28;
  }
}

@keyframes hidePauseLeft {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 28;
  }
}

@keyframes showPauseLeft {
  from {
    stroke-dashoffset: 28;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.player__control-play .pause--l {
  stroke: var(--play-icon-primary-color);
  stroke-width: 5;

  stroke-dasharray: 28;
  stroke-dashoffset: 28;
}

@keyframes hidePlay {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -72.373;
  }
}

@keyframes showPlay {
  from {
    stroke-dashoffset: -72.373;
  }
  to {
    stroke-dashoffset: 0;
  }
}
