@import "../../variables";
@import "../../mixins";

.ava-edit {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: inherit;
  margin-bottom: 1.5em;

  @include lg {
    grid-template-columns: 2fr 1fr;
    grid-column: 2 / 14;
  }

  @include xl {
    margin-bottom: 4em;
  }
}

.settings {
  grid-column: 1/ -1;
  display: grid;
  grid-gap: inherit;
  margin-bottom: 1.5em;

  @include lg {
    grid-template-columns: 1fr 2fr;
    grid-column: 2/14;
  }

  @include xl {
    margin-bottom: 4em;
    grid-template-columns: 1fr 2fr;
    grid-column: 4 / 16;
  }
}

.deform {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: inherit;
  margin-bottom: 1em;

  & img {
    width: 100%;
    display: block;
  }

  @include lg {
    grid-column: 2/14;
    grid-template-columns: 1fr 2fr;
  }

  @include xl {
    margin-bottom: 4em;

    grid-column: 3 / 15;
    grid-template-columns: 1fr 2fr;
  }
}

.deform__text {
  order: 1;

  @include lg {
    order: 0;
  }
}

.deform__image {
  margin-bottom: 1.5em;
}

.settings__img {
  margin-bottom: 1.5em;

  opacity: 0;
  transform: translateY(6em);
  transition: opacity 1s $easeInOutQuart, transform 1s $easeInOutQuart;

  & img {
    display: block;
    width: 100%;
    box-shadow: -5px 10px 50px 0 rgba(95, 95, 95, 0.1);
    border-radius: 1em;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.settings__text {
  order: 1;

  @include lg {
    order: 0;
  }
}

.result {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: inherit;

  @include xl {
    grid-column: 1 / 17;
    grid-gap: 2em 2em;
  }
}

.result__img {
  position: relative;

  & img {
    display: block;
    width: 100%;
  }
}

.result__img {
  grid-column: 1 / 17;
}

.result__text {
  grid-column: 1 / -1;

  @include lg {
    grid-column: 2/-2;
  }

  @include xl {
    grid-column: 5/14;
  }
}

.result__anim {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 1s $easeInOutQuart 0.5s;

  &.visible {
    opacity: 1;
  }
}

.ava-edit__wrap {
  margin-bottom: 1.5em;

  opacity: 0;
  transform: translateY(6em);
  transition: opacity 1s $easeInOutQuart, transform 1s $easeInOutQuart;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.ava-edit__background {
  position: relative;

  height: 0;
  padding: {
    bottom: 70%;
  }

  background: #fff;
  border-radius: 1em;
  box-shadow: -5px 10px 50px 0px rgba($color-secondary, 0.1);

  overflow: hidden;
}

.ava-edit__image {
  display: block;

  width: 100%;
}

.ava-edit__anim {
  position: absolute;
  top: 25%;
  left: 5%;
  width: calc(50% - 2em);
}

.ava-edit__face {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.ava-edit__hair {
  @extend .ava-edit__face;
}

.ava-edit__item,
.ava-edit__wear {
  @extend .ava-edit__face;

  & > svg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    transform: translateY(-125%);
    transition: transform 0.75s $easeInOutQuart;
  }

  & > svg.visible {
    transform: translateY(0);
    transition: transform 0.75s $easeInOutQuart 0.75s;
  }
}

// Colors: eyebrow, mouth and nose
.ava-edit__color {
  opacity: 0.25;
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 10;
  stroke-linecap: round;
}
