{{ if eq .Page.Type "journal" }}
<h{{ .Level }} id="{{ .Anchor | safeURL }}" class="heading">
    {{ .Text | safeHTML }}
    <a class="heading__link" href="#{{ .Anchor | safeURL }}">
        <svg viewBox="0 0 18 18">
            <path d="M8 2H2v14h14v-6h2v8H0V0h8v2z" fill="currentColor"/>
            <path d="M16.2.4L8 8.6V5H6v7h7v-2H9.4l8.2-8.2L16.2.4z" fill="currentColor"/>
        </svg>
    </a>
</h{{ .Level }}>
{{ else }}
<h{{ .Level }} id="{{ .Anchor | safeURL }}" class="heading">
    {{ .Text | safeHTML }}
</h{{ .Level }}>
{{ end }}
