{{ define "main" }}

<article class="article" itemscope itemtype="http://schema.org/BlogPosting">


    {{ if (gt .WordCount 200 ) }}

    <aside class="article__toc">

        <span class="article__toc-title">Table of contents</span>

        {{ .TableOfContents }}

    </aside>

    {{ end }}

    <header class="article__header">

        <h2>

            {{ .Title }}

        </h2>

        <div class="article__details">

        <div>

            <time class="article__time" datetime="{{ .Lastmod.Format "2006-01-02" }}">

                {{ .Lastmod.Format "Jan 2, 2006" }}

            </time>

            {{  .ReadingTime }} min read

        </div>

        <svg class="article__details-pattern" viewBox="0 0 252 52">
          <defs>
            <pattern id="pattern" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
              <rect width="2" height="2" x="0" y="0" fill="currentColor"></rect>
            </pattern>
          </defs>
          <rect fill="url(#pattern)" width="100%" height="100%" />
        </svg>
        
        </div>

    </header>

    {{ .Content }}

    {{ if .Page.HasShortcode "video" }}

    <script src="https://player.vimeo.com/api/player.js"></script>
    <script type="text/javascript">
        const options = {
            id: 260314795,
            width: 1280,
            loop: true,
            color: "f1f1f1",
            portrait: false,
            byline: false,
            title: false,
        }

        const videos = document.querySelectorAll(".article__video")

        const handler = ({ currentTarget: video }) => {
            const id = video.getAttribute("data-id")
            const player = new Vimeo.Player(
                video.querySelector(".article__video__frame"),
                { ...options, id },
            )

            const swipe = video.querySelector(".article__video__swipe")
            const imgSrc = video.querySelector(".article__video__image img")
            const imgWrap = video.querySelector(".article__video__image")
            const iconPlay = video.querySelector(".article__video__image path")
            const borders = video.querySelectorAll(".media-border__line")

            // Hide borders and play icon
            borders.forEach(border =>
                border.classList.add("media-border__line--hidden"),
            )
            iconPlay.style.animation =
                "playHide 1s cubic-bezier(0.77, 0, 0.175, 1) forwards"

            // Uncover video with swipe
            swipe.addEventListener("transitionend", () => {
                imgSrc.style.visibility = "hidden"
                imgWrap.style.pointerEvents = "none"
                swipe.style.transformOrigin = "center right"
                swipe.style.transitionDelay = "0ms"
                swipe.style.transform = "scaleX(0)"
                video.removeEventListener("click", handler)
            })

            // Cover image with swipe
            swipe.style.transform = "scaleX(1)"

            // Play video
            player.play()
        }

        videos.forEach(video => video.addEventListener("click", handler))
    </script>

    {{ end }}
</article>

{{ end }}
