/* Base colors */
$color-page-background: #111;
$color-post-background: #fff;
$color-post-background-invert: #181818;

$color-text-white: #fff;
$color-text-basis: #777;
$color-text-black: #222; 
 
$color-nav-active: #fff;

/* Typography */
$font-family-head: 'Roboto';
$font-family-body: 'Open Sans', Helvetica, Arial, sans-serif;