{{ define "main" }}

<article class="post post--blog">
    
    <div class="blog__intro">

      <h2>Blog</h2>

      <p>My thoughts on design, code and life</p>

    </div>

    <div class="blog__posts">

        {{ range $section := where $.Site.RegularPages "Section" "blog"}}

          <article class="blog-post" role="article" itemscope itemtype="https://schema.org/Article">

            <h2 itemprop="heeadline">
              <a href="{{ $section.RelPermalink }}">{{ $section.Title}}</a>
            </h2>

            <time class="post__time" datetime="{{ $section.Date.Format "2006-01-02" }}" itemprop="datePublished">
              {{ $section.Date.Format "January 2, 2006" }}
            </time>

            <p class="blog-post__excerpt">

              {{ $section.Description }}

              <a class="blog-post__link" href="{{ $section.RelPermalink }}">Read</a>

            </p>

          </article>

        {{ end }}

    </div>
    
</article>

{{ end }}
