{{ define "main" }}

<main role="main"> 

  <article class="post" itemscope itemtype="http://schema.org/Article" itemprop="articleBody">
  
      <header class="post__header post__header--work">
          
          <h2 itemprop="name">{{ .Title }}</h2>
      
          <div class="post__columns">

              {{ $markdown := .Params.intro | markdownify }}
    
              {{ if not ( strings.Contains $markdown "<p>" ) }}
                <p>{{ $markdown }}</p>
              {{ else }}
                {{ $markdown }}
              {{ end }}
              
          </div>
      
      </header>  
      
      {{ .Content }}

      <h3>Share</h3>

      <ul class="post__share">

        <li>

          <a class="post__share--twitter" href="https://twitter.com/share?text={{ $.Title }}%20by%20Jason%20Miller&url={{ .Permalink }}" target="_blank">

            <figure>
                <img src="/static/img/icon-twitter.svg">
                <figcaption>Twitter</figcaption>
            </figure>

          </a>

        </li>

        <li>

          <a class="post__share--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">

            <figure>
                <img src="/static/img/icon-facebook.svg">
                <figcaption>Facebook</figcaption>
            </figure>

          </a>

        </li>

        <li>
            
          <a class="post__share--whatsapp" href="https://web.whatsapp.com/send?text={{ $.Title }}%20by%20Jason%20Miller%20{{ .Permalink }}" target="_blank">
            <figure>
                <img src="/static/img/icon-whatsapp.svg">
                <figcaption>WhatsApp</figcaption>
            </figure>

          </a>

        </li>

      </ul>     
     
  </article>
  
</main>

{{ end }}