<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ if .Title }}
    <title>{{ .Title }} — {{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Site.Title }}</title>
  {{ end }}

  {{/* https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content */}}
  <link rel="preload" href="/fonts/Larsseit-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/fonts/CircularStd-Book.woff2" as="font"  type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/fonts/CircularStd-Bold.woff2" as="font"  type="font/woff2" crossorigin="anonymous">

  {{ $cssOptsMain := (dict "enableSourceMap" true) }}
  {{ $styleMain := resources.Get "css/main.scss" | toCSS $cssOptsMain | postCSS | minify | fingerprint }}

  <link rel="stylesheet" href="{{ $styleMain.RelPermalink }}">

  {{ if and (fileExists ( replace ( printf "assets/css/%smain.scss" .File.Dir  ) "\\" "/" ) ) .IsPage }}

    {{ $stylePage := resources.Get ( replace ( printf "css/%smain.scss" .File.Dir  ) "\\" "/" ) | toCSS $cssOptsMain | postCSS | minify | fingerprint }}

    <link rel="stylesheet" href="{{ $stylePage.RelPermalink }}">

  {{ end }}

  <script defer type="text/javascript" src="/js/vendor.js"></script>

  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

  <meta name="theme-color" content="#1a1a1a">

  <link rel="manifest" href="/manifest.json">

</head>
<body>

  {{ partial "header.html" . }}

  <main class="main">

    {{ block "main" . }}{{ end }}

  </main>

  {{ partial "footer.html" . }}
  
  {{ if and (fileExists ( replace ( printf "assets/js/%smain.js" .File.Dir ) "\\" "/" ) ) .IsPage }}

    <script type="text/javascript" src="/{{ printf "js%smain.js" .RelPermalink }}"></script>

  {{ end }}
  
  <script type="text/javascript" src="/js/main.js"></script>
  
</body>
</html>
