.articles__list {
    grid-column: 1 / -1;

    list-style: none;

    padding: 0;

    @include xl {
        grid-column: 5 / span 8;
    }

    li {
        margin-bottom: 2em;
    }

    li a {
        text-decoration: none;
    }
}

.article {
    display: grid;

    align-items: start;

    grid-column: 1/ -1;
    grid-template-columns: inherit;

    @include xl {
        grid-template-columns: inherit;
        grid-gap: 0 2em;
    }
}

.article ul {
    grid-column: 1 / -1;

    margin-top: 0;

    list-style: square;

    @include xl {
        grid-column: 5 / span 8;
    }
}

.article figure {
    grid-column: 1 / -1;

    @include xl {
        grid-column: 5 / span 8;
    }

    img {
        display: block;

        width: 100%;
    }

    figcaption p:first-child {
        margin: 1em 0;
    }
}

.article__note {
    grid-column: 1 / -1;

    margin: 0 0 1em 0;

    @include xl {
        grid-column: 5 / span 8;
    }
}

.note__icon {
    float: left;

    box-sizing: content-box;

    width: 2em;

    padding: 0.5em 1em 0.5em 0em;
}

.article__toc {
    display: none;

    position: sticky;
    top: 2em;

    grid-column: 1 / span 3;

    // TODO: Make table of contents span to end of grid without this hack, see:
    // https://stackoverflow.com/q/44052336/1113913
    grid-row: 2 / span 100;

    color: var(--color-primary-1);

    @include xl {
        display: block;
    }

    .article__toc-title {
        font-size: var(--font-size-sm);
        font-variant-caps: all-small-caps;
        font-weight: 700;
    }

    ol {
        padding: 0;

        list-style: none;

        li {
            margin: 0 0 0.5em;
        }

        a {
            text-decoration: none;
            color: inherit;
            transition: none;

            &:hover {
                color: var(--color-secondary-2);
            }
        }

        .toc__link--active {
            color: var(--color-secondary-2);
        }
    }
}

.article__header {
    grid-column: 1 / -1;
    margin-bottom: 2em;

    @include xl {
        grid-column: 5 / span 8;
    }
}

.article__details {
    display: flex;
    justify-content: space-between;

    color: var(--color-primary-1);
}

.article__time {
    margin-right: 1em;
}

.article__details-pattern {
    width: 252px;
    height: 52px;
    color: var(--color-primary-3);
}

.article h3 {
    margin: 1em 0 0;
}

.article .player {
    grid-column: 1 / -1;

    @include xl {
        grid-column: 5 / span 8;
    }
}

.article > h3 {
    display: inline;

    grid-column: 1 / -1;

    @include lg {
        grid-column: 5 / span 8;
    }
}

.article > p {
    grid-column: 1 / -1;

    @include lg {
        grid-column: 5 / span 8;
    }
}

// Blockquote <svg> triangle
%svgTriangle {
    position: absolute;

    display: block;

    width: 1.5em;
    height: 1.125em; // This is made up, fix the aspect ratio and get the correct width-height

    content: "";
    pointer-events: none;

    opacity: 0.25;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 100"><path fill="none" stroke="#fff" stroke-width="2.5" d="m130,50l-86.66,-50l0,100z"></path></svg>');
}

.article blockquote {
    margin: 0 0 1.5em;

    grid-column: 13 / span 3;

    & p {
        position: relative;

        margin: 0 1.5em;

        &:first-child::after {
            @extend %svgTriangle;
            right: -1.125em;
            bottom: 0.125em;
        }

        // Mirror the triangle
        &:last-child::before {
            @extend %svgTriangle;
            top: 0.125em;
            right: auto;
            left: -1.5em;

            transform: scaleX(-1);
        }
    }
}

.article > table {
    grid-column: 1 / -1;
    border: 1px solid #1a1a1a;
    border-collapse: collapse;

    margin-bottom: 1.5em;

    @include xl {
        grid-column: 5 / span 8;
    }
}

.article > table th {
    background: #191919;
    color: #7a7a7a;
}

.article > table th,
.article > table td {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
    border: 1px solid #1a1a1a;
}

.article pre {
    overflow-x: auto;

    box-sizing: border-box;
    width: 100%;
    margin: 0 0 1.5em 0;
    // padding: 1em;

    text-align: justify;

    // background: #181818;
}

.article pre code {
    font: {
        family: $font-family-mono;
        size: 0.875em;
        weight: 400;
    }
    line-height: $mono-line-height;
}

.article p code {
    font: {
        family: $font-family-mono;
        size: 0.875em;
        weight: 400;
    }
    line-height: $base-line-height;
    border-bottom: 1px solid $color-background-border;
}

.article__figure {
    position: relative;

    margin: 0 0 2em 0;
}

.article__figure__img {
    display: inline-block;

    width: 100%;

    vertical-align: text-top;
}

.article__video {
    position: relative;

    height: 0;
    margin: 0 0 2em 0;
    padding: 0 0 56.25% 0;
}

.article__video__frame iframe {
    position: absolute;

    width: 100%;
    height: 100%;
}

.article__video__image {
    position: relative;

    cursor: pointer;

    & img {
        display: block;
        width: 100%;
    }
}

.article__video__swipe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: transform 0.5s 1s;
    transform: scaleX(0);
    transform-origin: left;

    background: $color-background;
}

.article__introduction {
    position: relative;

    grid-column: 1 / -1;

    @include md {
        grid-column: 1 / 10;
    }

    @include lg {
        grid-column: 1 / 9;
    }

    @include xl {
        grid-column: 1 / span 8;
    }
}
