.feature {
    display: grid;

    grid-column: 1 / -1;
    grid-gap: inherit;
    grid-template-columns: inherit;

    margin: 0 0 2em 0;

    @include xl {
        margin: 0 0 8em 0;
    }
}

.feature > div {
    grid-row: 1;
}

.feature h2 {
    @include md {
        font-size: 1.5em;
    }
}

.feature--left > div {
    position: relative;

    margin: 0 1em 1em 0;

    grid-column: 1 / -1;

    @include md {
        grid-column: 1 / 8;
    }

    @include lg {
        grid-column: 2/10;
    }

    @include xl {
        grid-column: 2 / span 9;
    }
}

.feature--right > div {
    position: relative;

    margin: 0 0 1em 1em;

    grid-column: 1 / -1;

    @include md {
        grid-column: 6/13;
    }

    @include lg {
        grid-column: 6/14;
    }

    @include xl {
        grid-column: 7 / span 9;
    }
}

.feature__swipe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: $color-background;
    transform: scaleX(1.01);
    transition: transform 1.5s $easeOutQuint;
    pointer-events: none;
}

.feature--left .feature__swipe {
    right: -1px;
    transform-origin: right;
}

.feature--right .feature__swipe {
    left: -1px;
    transform-origin: left;
}

.feature__caption {
    transform: translateY(50%);
    opacity: 0;

    @include xl {
        margin-top: 3em;
    }
}

.feature--left .feature__caption {
    grid-column: 1 / -1;

    @include md {
        grid-column: 8/13;
    }

    @include lg {
        grid-column: 10/14;
    }

    @include xl {
        grid-column: 11 / span 5;
    }
}

.feature--right .feature__caption {
    grid-column: 1 / -1;

    @include md {
        grid-column: 1/6;
    }

    @include lg {
        grid-column: 2/6;
    }

    @include xl {
        grid-column: 2 / span 5;
    }
}

.feature img {
    position: relative;
    display: block;

    width: 100%;
    height: auto;

    transition: transform 2s $easeOutQuint;
    transform: scale(1.25);
}

.feature__link {
    text-decoration: none;
    color: $font-color-head;
}

.feature__link:hover .feature__link-arrow {
    transform: translateX(50%);
}

.feature__link-arrow {
    width: 1.2em;
    fill: none;
    stroke: currentColor;
    vertical-align: middle;
    transition: transform 0.5s $easeInOutBack;
    stroke-width: 10;
}

.feature__image {
    position: relative;
    overflow: hidden;
}
