.header {
  display: grid;

  width: 100%;
  max-width: 1340px;
  margin: 0 auto 1em;
  padding: 0 1em;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;

  align-items: center;

  box-sizing: border-box;

  @include sm {
    grid-template-columns: repeat(10, 1fr);
  }

  @include md {
    grid-template-columns: repeat(12, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(14, 1fr);
  }

  @include xl {
    margin: 0 auto 4em;
    padding: 0 2em;

    grid-template-columns: repeat(16, 1fr);
    grid-gap: 2em;
  }
}

.logo {
  grid-column: 1/3;

  @include sm {
    grid-column: 1/4;
  }

  @include xl {
    grid-column: 1/4;
  }
}

.logo__link {
  position: relative;

  display: block;

  width: 100%;
  height: 0;
  // padding-bottom: 75%;
  padding-bottom: 60%;

  & canvas {
    position: absolute;

    display: block;

    width: 100%;
    height: 100%;
  }
}

.nav {
  grid-column: 3/5;

  @include sm {
    grid-column: 4/11;
  }

  @include md {
    grid-column: 4 / 13;
  }

  @include lg {
    grid-column: 4 / 15;
  }

  @include xl {
    grid-column: 5 / -1;
  }
}

.nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: right;
}

.nav__item {
  @include sm {
    display: inline;
  }

  margin-left: 1em;
}

.nav__link {
  font-weight: 700;

  text-decoration: none;
}

.nav__link--active {
  color: $fontColorLight;
}
