.media-border {
  position: absolute;
  top: 1em;
  &.media-border--left {
    left: 1em;
  }
  &.media-border--right {
    right: 1em;
  }

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.media-border__line {
  position: absolute;

  $border-size: 1px;
  $border-anim: 250;

  transition: transform #{$border-anim}ms $easeOutQuint;

  background: rgba(255, 255, 255, 0.25);

  // prettier-ignore
  $borders: (
    ( id: top,    origin: left    ),
    ( id: right,  origin: top     ),
    ( id: bottom, origin: right   ),
    ( id: left,   origin: bottom  )
  );

  $time: $border-anim * 4;
  $step: $border-anim;

  @for $i from 0 to length($borders) {
    $border: nth($borders, $i + 1);

    &.media-border__line--#{map-get($border, id)} {
      transform-origin: map-get($border, origin);
      transition-delay: #{$step * $i}ms;

      // Border positioning
      #{map-get($border, id)}: 0;
      #{map-get($border, origin)}: $border-size;

      // Border sizing
      @if map-get($border, id) == top or map-get($border, id) == bottom {
        width: calc(100% - #{$border-size});
        height: $border-size;
      } @else {
        width: $border-size;
        height: calc(100% - #{$border-size});
      }

      &.media-border__line--hidden {
        transition-delay: #{$time - $step * $i - $step}ms;

        @if map-get($border, id) == top or map-get($border, id) == bottom {
          transform: scaleX(0);
        } @else {
          transform: scaleY(0);
        }
      }
    }
  }
}

.media-border__play {
  width: 3em;
  margin: auto;

  grid-area: mid-mid;
  stroke: $color-light;
  stroke-width: 5;
  fill: none;
  stroke-dasharray: 323.61;
}

.article__video__image:hover .media-border__play path {
  animation: playHover 1s $easeInOutQuart forwards;
}

@keyframes playHide {
  to {
    stroke-dashoffset: calc(323.61);
  }
}

@keyframes playHover {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: calc(323.61 * 2);
  }
}
