// Breakpoints
$screen-sm: 480px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1280px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl}) {
        @content;
    }
}
