::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: $backgroundBorderColor;
}

::-webkit-scrollbar-thumb {
  background: $fontColorDark;

  &:hover {
    @extend ::-webkit-scrollbar-thumb;
  }
}
