// Page colors
$color-background: #0d0d0d;
$color-background-border: #1a1a1a;

$color-light: #f1f1f1;
$color-dark: #5f5f5f;

// Typography
$font-family-head: DIN, sans-serif;
$font-family-body: Circular, sans-serif;
$font-family-mono: Fira Code, monospace;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-color-head: $color-light;
$font-color-body: $color-dark;

$base-line-height: 1.5;

$color-selection: $color-light;
$color-selection-background: #90f;

// Easings
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
