// $color-light: #1a1a1a;
$color-dark: #5f5f5f;

// TODO: Rewrite these names to the format of neutral, black70, black90...
$color-primary: #fefefe;
$color-secondary: #7a7a7a;
$color-tertiary: #3a3a3a;

// Page colors
$color-background: #0d0d0d; // #fefefe
$color-background-border: #1a1a1a; // efefef

// Typography
$font-family-head: Larsseit, sans-serif;
$font-family-body: Circular, sans-serif;
$font-family-mono: "Cascadia Code", monospace;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-color-head: $color-primary;
$font-color-body: $color-secondary;

$base-line-height: 1.5;
$mono-line-height: 1.5;

$color-selection: #fff;
$color-selection-background: rgba(0, 40, 255, 0.99);

// Syntax highlighting
$color-syntax-black: #282c34;
$color-syntax-white: #abb2bf;
$color-syntax-red-light: #e06c75;
$color-syntax-red-dark: #be5046;
$color-syntax-green: #98c379;
$color-syntax-yellow-light: #e5c07b;
$color-syntax-yellow-dark: #d19a66;
$color-syntax-blue: #61afef;
$color-syntax-magenta: #c678dd;
$color-syntax-cyan: #56b6c2;
$color-syntax-gray-gutter: #4b5263;
$color-syntax-gray-column: #5c6370;

// Easings
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
