// $color-light: #1a1a1a;
$color-dark: #5f5f5f;

$color-primary: #fefefe;
$color-secondary: #7a7a7a;

// Page colors
$color-background: #0d0d0d; // #fefefe
$color-background-border: #1a1a1a; // efefef

// Typography
$font-family-head: DIN, sans-serif;
$font-family-body: Circular, sans-serif;
$font-family-mono: Fira Code, monospace;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-color-head: $color-primary;
$font-color-body: $color-secondary;

$base-line-height: 1.5;

$color-selection: #fff;
$color-selection-background: rgba(0, 40, 255, 0.99);

// Easings
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
