@import "variables";
@import "mixins";

@import "header";
@import "footer";
@import "feature";
@import "article";

@import "typography";
@import "media-border";

@import "video";
@import "syntax";

:root {
    font-size: 1em;

    --font-size-base: 1em;
    --font-scale: 1.125;

    --font-size-xs: calc(var(--font-size-sm) / var(--font-scale)); // 11.52px
    --font-size-sm: calc(var(--font-size-md) / var(--font-scale)); // 14.4px
    --font-size-md: var(--font-size-base); // 18px
    --font-size-lg: calc(var(--font-size-md) * var(--font-scale)); // 22.5px
    --font-size-xl: calc(var(--font-size-lg) * var(--font-scale)); // 28.125px
    --font-size-xxl: calc(var(--font-size-xl) * var(--font-scale)); // 35.156px
    --font-size-xxxl: calc(
        var(--font-size-xxl) * var(--font-scale)
    ); // 43.945px
    --font-size-xxxxl: calc(
        var(--font-size-xxxl) * var(--font-scale)
    ); // 54.93125
    --font-size-xxxxxl: calc(var(--font-size-xxxxl) * var(--font-scale)); // 68

    --font-size-h1: var(--font-size-xxxxl);
    --font-size-h2: var(--font-size-xxxl);
    --font-size-h3: var(--font-size-xxl);
    --font-size-h4: var(--font-size-xl);
    --font-size-h5: var(--font-size-lg);
    --font-size-h6: var(--font-size-md);

    --font-body-line-height: 1.5;
    --font-mono-line-height: 2;

    --font-family-head: Larsseit, sans-serif;
    --font-family-body: Circular, sans-serif;
    --font-family-mono: "Cascadia Code", monospace;

    --color-primary-4: #0d0d0d;
    --color-primary-3: #1a1a1a;
    --color-primary-2: #333333;
    --color-primary-1: #434343;
    --color-neutral: #7a7a7a;
    --color-secondary-1: #c0c0c0;
    --color-secondary-2: #ffffff;

    @include xl {
        font-size: 1.125em;
        --font-scale: 1.25;
    }
}

h1,
.h1 {
    font-size: var(--font-size-h1);
    margin: 0 0 0.25em;
}

h2,
.h2 {
    font-size: var(--font-size-h2);
}

h3,
.h3 {
    font-size: var(--font-size-h3);
}

h4,
.h4 {
    font-size: var(--font-size-h4);
}

h5,
.h5 {
    font-size: var(--font-size-h5);
}

h6,
.h6 {
    font-size: var(--font-size-h6);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;

    background: var(--color-primary-3);

    scroll-behavior: smooth;
}

html,
body {
    min-height: 100%;
    margin: 0;
}

body {
    font: {
        weight: $font-weight-regular;
        size: var(--font-size-md);
        family: var(--font-family-body);
    }
    line-height: var(--font-body-line-height);

    box-sizing: border-box;
    margin: 0.5em;

    color: var(--color-neutral);
    background: var(--color-primary-4);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include xl {
        margin: 1em;
    }
}

main {
    display: grid;

    box-sizing: border-box;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 1em;

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;

    @include sm {
        grid-template-columns: repeat(10, 1fr);
    }

    @include md {
        grid-template-columns: repeat(12, 1fr);
    }

    @include lg {
        grid-template-columns: repeat(14, 1fr);
    }

    @include xl {
        padding: 0 2em;

        grid-template-columns: repeat(16, 1fr);
        grid-gap: 0 2em;
    }
}

hr {
    width: 100%;
    height: 1px;
    margin: 1em 0;

    border: 0;
    background: var(--color-primary-3);

    grid-column: 1 / -1;

    @include md {
        margin: 4em 0;
    }
}

main > p {
    grid-column: 4 / span 10;
}

figure {
    margin: 0;
}

.intro {
    grid-column: 1 / -1;

    @include md {
        grid-column: 1/ 10;
    }

    @include lg {
        grid-column: 1 / span 7;
    }

    @include xl {
        grid-column: 1 / span 7;
        margin-bottom: 1.5em;
    }
}

.intro__greeting {
    font: {
        size: var(--font-size-lg);
        weight: 700;
        family: var(--font-family-head);
    }

    display: block;

    color: var(--color-secondary-2);

    @include md {
        font: {
            size: 1.375em;
        }
    }

    @include xl {
        font: {
            size: 1.5em;
        }
    }
}

.intro__title {
    font: {
        size: var(--font-size-xxxxxl);
    }
}

::selection {
    color: $color-selection;
    background: $color-selection-background;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: $color-background-border;
}

::-webkit-scrollbar-thumb {
    background: $color-secondary;

    &:hover {
        @extend ::-webkit-scrollbar-thumb;
    }
}
