.nav-btn {
  display: block;
  position: absolute;
  top: 40px;
  left: 2em;
  width: 40px;
  height: 40px;
  padding: 12px;
  cursor: pointer;
  border: 0;
  outline: 0;
  overflow: hidden;
  background: none;
}

.nav-ripple {  
  position: absolute;
  top: 40px;
  left: 2em;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  background: #fff;
  opacity: 0;        
}

.header--opened .nav-ripple {
  animation: header--opened-ripple-in 0.15s 0.10s ease-in,
  header--opened-ripple-out 0.75s 0.15s ease-out;    
}

@keyframes header--opened-ripple-in {
from { transform: matrix(0, 0, 0, 0, 0, 0); opacity: 0 }
to { transform: matrix(1.5, 0, 0, 1.5, 0, 0); opacity: 0.3 }
}

@keyframes header--opened-ripple-out {
from { transform: matrix(1.5, 0, 0, 1.5, 0, 0); opacity: 0.3 }
to { transform: matrix(2, 0, 0, 2, 0, 0); opacity: 0 }
}

.header--closed .nav-ripple {
  animation: header--closed-ripple-in 0.15s 0.10s ease-in,
  header--closed-ripple-out 0.75s 0.15s ease-out;
}

@keyframes header--closed-ripple-in {
from { transform: matrix(0, 0, 0, 0, 0, 0); opacity: 0 }
to { transform: matrix(1.5, 0, 0, 1.5, 0, 0); opacity: 0.3 }
}

@keyframes header--closed-ripple-out {
from { transform: matrix(1.5, 0, 0, 1.5, 0, 0); opacity: 0.3 }
to { transform: matrix(2, 0, 0, 2, 0, 0); opacity: 0 }
} 

.nav-btn__line {
  position: relative;
  height: 2px;
  margin-bottom: 3px;
  background: #fff;
}

.header--opened .nav-btn__line--top {
  animation: nav-btn--opened-top-out 0.30s ease 1,
  nav-btn--opened-top-in 0.50s 0.30s ease 1 forwards;
}

@keyframes nav-btn--opened-top-out {
from { transform: matrix(1, 0, 0, 1, 0, 0) }
to { transform: matrix(1, 0, 0, 1, 48, 0) }
}

@keyframes nav-btn--opened-top-in {
from { transform: matrix(2, 2, -0.7, 0.7, -48, -48) }
to { transform: matrix(0.75, 0.75, -0.75, 0.75, 0, 6); }
}

.header--closed .nav-btn__line--top {
  animation: nav-btn--closed-top-out 0.25s ease 1,
  nav-btn--closed-top-in 0.20s 0.25s ease 1 forwards;
}

@keyframes nav-btn--closed-top-out {
from { transform: matrix(0.75, 0.75, -0.75, 0.75, 0, 6); }
to { transform: matrix(2, 2, -0.7, 0.7, 48, 48) }
}

@keyframes nav-btn--closed-top-in {
from { transform: matrix(1, 0, 0, 1, -48, 0) }
to { transform: matrix(1, 0, 0, 1, 0, 0) }
}

.header--opened .nav-btn__line--middle {
  animation: nav-btn--opened-middle-out 0.30s 0.15s ease forwards;
}

@keyframes nav-btn--opened-middle-out {
from { transform: matrix(1, 0, 0, 1, 0, 0) }
to { transform: matrix(1, 0, 0, 1, 30, 0) }
}

.header--closed .nav-btn__line--middle {
  animation: nav-btn--opened-middle-in 0.30s ease forwards;
}

@keyframes nav-btn--opened-middle-in {
from { transform: matrix(1, 0, 0, 1, -30, 0) }
to { transform: matrix(1, 0, 0, 1, 0, 0) }
}

.header--opened .nav-btn__line--bottom {
  animation: nav-btn--opened-bottom-out 0.45s ease 1,
  nav-btn--opened-bottom-in 0.25s 0.45s ease 1 forwards;
}

@keyframes nav-btn--opened-bottom-out {
from { transform: matrix(1, 0, 0, 1, 0, 0) }
to { transform: matrix(1, 0, 0, 1, 30, 0) }
}

@keyframes nav-btn--opened-bottom-in {
from { transform: matrix(2, -2, 0.7, 0.7, -48, 48) }
to { transform: matrix(0.75, -0.75, 0.75, 0.75, 0, -4); }
}

.header--closed .nav-btn__line--bottom {
  animation: nav-btn--closed-bottom-out 0.50s ease 1,
  nav-btn--closed-bottom-in 0.30s 0.30s ease 1 forwards;
}

@keyframes nav-btn--closed-bottom-out {
from { transform: matrix(0.75, -0.75, 0.75, 0.75, 0, -4); }
to { transform: matrix(2, -2, 0.7, 0.7, 48, -48) }
}

@keyframes nav-btn--closed-bottom-in {
from { transform: matrix(1, 0, 0, 1, -48, 0) }
to { transform: matrix(1, 0, 0, 1, 0, 0) }
}

@media only screen and (min-width: 1024px) {
  
  .nav-btn {
      visibility: hidden;
  }
      
}