{{ if eq .Elem "head" }}

    {{ range $src := .context.Params.inject }}

        {{ if eq $src.elem "head" }}

            {{ if eq $src.type "style" }}

                <link rel="stylesheet" type="text/css" href="{{ $src.url }}">

            {{ end }}

            {{ if eq $src.type "script" }}

                <script type="text/javascript" src="{{ $src.url }}"></script>

            {{ end }}

        {{ end }}

    {{ end }}
    
{{ end }}

{{ if eq .Elem "body" }}

    {{ range $src := .context.Params.inject }}

        {{ if eq $src.elem "body" }}

            {{ if eq $src.type "script" }}

                <script type="text/javascript" src="{{ $src.url }}"></script>

            {{ end }}

        {{ end }}

    {{ end }}    
    
{{ end }}
