<footer class="footer" role="contentinfo">

  <ul class="footer__list">

    <li itemprop="email">

      <a class="footer__link" href="mailto:hello@jasonmiller.nl">

        <img src="/img/footer__icon__email.svg" class="footer__icon">

        Contact@jasonmiller.nl

      </a>

    </li>

    <li>

      <a class="footer__link" href="https://github.com/imjasonmiller/" target="_blank">

        <img src="/img/footer__icon__github.svg" class="footer__icon">  

        Github
    
      </a>

    </li>

    <li>

      <a class="footer__link" href="https://twitter.com/imjasonmiller" target="_blank">

        <img src="/img/footer__icon__twitter.svg" class="footer__icon">

        Twitter
      
      </a>

    </li>

    <li>

      <a class="footer__link" href="https://dribbble.com/imjasonmiller" target="_blank">

        <img src="/img/footer__icon__dribbble.svg" class="footer__icon">

        Dribbble

      </a>

    </li>

  </ul>

</footer>
