<footer class="footer" role="contentinfo">

  <ul class="footer__list">

    <li itemprop="email">

      <a class="footer__link" href="mailto:{{ .Site.Params.email }}">

        <img src="/img/footer__icon__email.svg" alt="" class="footer__icon">

        {{ .Site.Params.email }}

      </a>

    </li>

    <li>

      <a class="footer__link" href="{{ .Site.Params.github }}" target="_blank" rel="noopenner noreferrer">

        <img src="/img/footer__icon__github.svg" alt="" class="footer__icon">  

        Github
    
      </a>

    </li>

    <li>

      <a class="footer__link" href="{{ .Site.Params.twitter }}" target="_blank" rel="noopenner noreferrer">

        <img src="/img/footer__icon__twitter.svg" alt="" class="footer__icon">

        Twitter
      
      </a>

    </li>

    <li>

      <a class="footer__link" href="{{ .Site.Params.dribbble }}" target="_blank" rel="noopenner noreferrer">

        <img src="/img/footer__icon__dribbble.svg" alt="" class="footer__icon">

        Dribbble

      </a>

    </li>

  </ul>

</footer>
