<footer class="footer" id="footer__particles" role="contentinfo">
    
    <div class="footer__info">
        
        <ul class="footer__author">
            <li itemprop="name">{{ .Site.Data.Settings.Author }}</li>
            <li itemprop="email"><a class="footer__link" href="mailto:{{ .Site.Data.Settings.Email }}">{{ .Site.Data.Settings.Email }}</a></li>
        </ul>
        
        <ul class="footer__social">
            <li>
                <a class="footer__link" href="https://www.behance.net/imjasonmiller" target="_blank">Behance</a>
            </li>
            <li>
                <a class="footer__link" href="https://www.linkedin.com/in/imjasonmiller" target="_blank">LinkedIn</a>
            </li>
            <li>
                <a class="footer__link" href="https://github.com/imjasonmiller/" target="_blank">Github</a>
            </li>
            <li>
                <a class="footer__link" href="https://dribbble.com/imjasonmiller" target="_blank">Dribbble</a>
            </li>
        </ul>
        
    </div>
    
</footer>