<hr />

{{ range $index, $case := where $.Site.RegularPages "Section" "work"}}

{{ $align := cond ( eq ( mod $index 2) 0 ) "left" "right" }}

<figure class="feature feature--{{ $align }}">
    <div>
        {{ $image := .Resources.GetMatch "img/thumb*.{png,jpg}" }}

        {{ $image_720 := ( $image.Resize "720x q90 Lanczos" ).RelPermalink }}
        {{ $image_1080 := ( $image.Resize "1080x q90 Lanczos" ).RelPermalink }}

        <div class="feature__image">
            <img
                srcset="{{ $image_720 }} 720w, {{ $image_1080 }} 1080w"
                src="{{ $image.RelPermalink }}"
                width="{{ $image.Width }}"
                height="{{ $image.Height }}"
                alt="A thumbnail that depicts {{ $case.Title }}"
                loading="lazy"
            />

            <div class="feature__swipe"></div>
        </div>

        <div class="media-border media-border--{{ $align }}">
            <div
                class="media-border__line media-border__line--top media-border__line--hidden"
            ></div>

            <div
                class="media-border__line media-border__line--right media-border__line--hidden"
            ></div>

            <div
                class="media-border__line media-border__line--bottom media-border__line--hidden"
            ></div>

            <div
                class="media-border__line media-border__line--left media-border__line--hidden"
            ></div>
        </div>
    </div>

    <figcaption class="feature__caption">
        <h3>{{ $case.Title }}</h3>

        {{ $text := $case.Description | markdownify }}

        {{ if not ( strings.Contains $text "<p>" ) }}
            <p>{{ $text }}</p>
        {{ else }}
            {{ $text }}
        {{ end }}

        <a href="{{ $case.RelPermalink }}" class="feature__link">
            Case study

            <svg viewBox="0 0 130 100" class="feature__link-arrow">
                <path d="m130,50l-86.66,-50l0,100z"></path>
            </svg>
        </a>
    </figcaption>
</figure>

{{ end }}
