<section class="intro">
    <span class="intro__greeting">Good <span class="intro__greeting__time">day</span>, I'm</span>

    <h2 class="intro__title">Jason Miller</h2>

    <div>
        <p>An interactive developer based in The Netherlands that loves to combine code and motion. I have previously worked in television as a video-editor/compositor.</p>
        <p>I am currently available for hire. <a href="mailto:contact@jasonmiller.nl">Let's talk.</a></p>
    </div>

</section>

<hr>

{{ range $index, $case := where $.Site.RegularPages "Section" "work"}} 

    {{ $align := cond ( eq ( mod $index 2) 0 ) "left" "right" }}

    <figure class="feature feature--{{ $align }}">

        <div>

            {{ $image := .Resources.GetMatch "img/thumb*.{png,jpg}" }}

            {{ $image_720 := ( $image.Resize "720x q90 Lanczos" ).RelPermalink }}
            {{ $image_1080 := ( $image.Resize "720x q90 Lanczos" ).RelPermalink }}
            
            <div class="feature__image">

                <img srcset='{{ $image_720 }} 720w, {{ $image_1080 }} 1080w' src="{{ $image.RelPermalink }}">

                <div class="feature__swipe"></div>

            </div>
    
            <div class="media-border media-border--{{ $align }}">
    
                <div class="media-border__line media-border__line--top media-border__line--hidden"></div>
    
                <div class="media-border__line media-border__line--right media-border__line--hidden"></div>
    
                <div class="media-border__line media-border__line--bottom media-border__line--hidden"></div>
    
                <div class="media-border__line media-border__line--left media-border__line--hidden"></div>
    
            </div>
    
        </div>
    
        <figcaption class="feature__caption">
    
            <h2>{{ $case.Title }}</h2>

            {{ $text := $case.Description | markdownify }}

            {{ if not ( strings.Contains $text "<p>" ) }}
                <p>{{ $text }}</p>
            {{ else }}
                {{ $text }}
            {{ end }}

            <a href="{{ $case.RelPermalink }}" class="feature__link">
                Case study
    
                <svg viewBox="0 0 130 100" class="feature__link__arrow">
    
                    <path d="m130,50l-86.66,-50l0,100z"></path>
    
                </svg>
    
            </a>
    
        </figcaption>
        
    </figure> 

{{ end }}
