{{ if isset .Params "type" }}

    {{ if (eq (.Get `type`) "local") }}

    <div class="player">
        <video class="player__video"
            {{ with .Get "mute" }} muted {{ end }}
            {{ with .Get "loop" }} loop {{ end }}
            {{ with .Get "autoplay" }} autoplay {{ end }}
            {{ with .Get "poster" }} poster="{{.}}" {{ end }}
        >
            {{ with .Get "webm" }} <source src="{{.}}" type="video/webm"> {{ end }}
            {{ with .Get "mp4" }} <source src="{{.}}" type="video/mp4"> {{ end }}
        </video>
        <div class="player__control"> 
            <svg class="player__control-play" viewBox="0 0 64 64">
                <path class="play" d="M22 32V20L42 32L22 44Z" />
                <path class="pause--l" d="M22.5,46V18" />
                <path class="pause--r" d="M41.5,46V18" />
            </svg>
            <div class="player__progress">
                <div class="player__progress-play"></div>
                {{/* <div class="player__progress-load"></div> */}}
            </div>
        </div>

    </div>

    {{ end }}

{{ end }}


{{ if .Get "vimeo" }}

    {{ $.Scratch.Add "width" ( default "1280" ( .Get "width" ) )}}

    {{ $.Scratch.Add "height" ( default "720" ( .Get "height" ) )}}

    {{/* Calculate correct padding ratio for video, height / width * 100 */}}

    {{ $ratio := mul ( float ( div ( float ( $.Scratch.Get "height" ) ) ( float ( $.Scratch.Get "width" ) ) ) ) 100 }}

    {{ $.Scratch.Add "ratio" ( printf "%.2f%%" $ratio ) }}

  <!-- @css-ignore -->
  <figure class="article__video" data-id="{{ .Get "vimeo" }}" style="padding-bottom: {{ $.Scratch.Get `ratio` }};">

    <div class="article__video__frame"></div>
    <div class="article__video__image">
      <img src="https://orig00.deviantart.net/6323/f/2017/190/e/2/20170707_rover_2560_001_by_macrebisz-dbfocxw.jpg">

      <div class="article__video__swipe"></div>
      
      {{ if isset .Params "border" }}

      {{ if (eq (.Get `border`) "left") }}
    
        <div class="media-border media-border--left">
    
      {{ end }}
    
      {{ if (eq (.Get `border`) "right") }}
    
        <div class="media-border media-border--right">
    
      {{ end }}
    
          <div class="media-border__line media-border__line--top"></div>
    
          <div class="media-border__line media-border__line--right"></div>

          <div class="media-border__play"><svg viewBox="0 0 108 108">

            <path d="m4,4l100,50l-100,50z"></path>

          </svg></div>
    
          <div class="media-border__line media-border__line--bottom"></div>
    
          <div class="media-border__line media-border__line--left"></div>
    
      </div>
    
      {{ end }}

    </div>
  </figure>

{{ end }}
